NLP/Diff_Transformer_with_BART2.ipynb
NLP/Diff-Transformer（Diff-Attention）の具体的計算例 .md
NLP/Diff_Transformer_with_BART.ipynb
.DS_Store
rag_cookbooks
data
.ipynb_checkpoints
chroma_db
RAG/utils.py
**/__pycache__
*.code-workspace
env*
.vscode
.python-version
