**/__pycache__/
*.code-workspace
.DS_Store
.vscode
.python-version
.ipynb_checkpoints
env*/

rag_cookbooks/
mydata/
RAG/utils.py
memo.md
NLP/Diff_Transformer_with_BART2.ipynb
NLP/Diff-Transformer（Diff-Attention）の具体的計算例 .md
NLP/Diff_Transformer_with_BART.ipynb
Full_Scratch_SML_dev/